body {
    font-family: "Hoefler Text", Garamond, Georgia, "Times New Roman", Times, serif;
}

.navbar-inverse {
    background-color: black;
    border-color: black;
    padding: 15px;
    font-size: 20px;
}

.btn-danger {
    background-color: darkred;
    border-color: darkred;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Style the sidenav links and the dropdown button */
.sidenavdrop a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: darkred;
    color: white;
}

/* Dropdown container (hidden by default). */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

  /* Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

  /* border-box */
* {
    box-sizing: border-box;
}

/* This just stops horizontal scrolling if anything overflows the width */
body {
	overflow: hidden;
}

/* Removes default browser padding/margin */
html,
body {
    padding: 0;
    margin: 0;
    color: white;
}

/* Wrapping element */
.Container {
    display: flex;
    overflow: hidden;
    margin-top: -100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

/* Overflows text */
.Left, .Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    font-size: 110px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* Remove the scrollbar */
.Left::-webkit-scrollbar, .Right::-webkit-scrollbar {
    display: none;
}

/*  Creates Left half of screen */
.Left {
    background-color: darkred;
}

/*  Creates Right half of screen */
.Right {
    background-color: white;
}

.BookLink {
    text-decoration: none;
    color: white;
}

.BookLink:hover {
    font-size: 120px;
    text-decoration: none;
    color: white;
}

.CSLink {
    text-decoration: none;
    color: black;
}

.CSLink:hover {
    font-size: 120px;
    text-decoration: none;
    color: black;
}